.disabledBtn {
  background-color: gainsboro;
  color: white;
  height: 50px;
  border-radius: 8px;
  width: 250px;
  font-weight: 900;
  font-size: 18px;
}

.activeBtn {
  background-color: #02a9f7;
  color: white;
  height: 50px;
  border-radius: 8px;
  width: 250px;
  font-weight: 900;
  font-size: 18px;
}
