.dropzone {
  text-align: center;
  padding: 50px;
  border: 2px dashed #4f9aff;
  background-color: #eaeaea;
  color: #afafaf;
  border-radius: 8px;
}

.accept {
  border-color: #107c10 !important;
}

.reject {
  border-color: #d83b01 !important;
}
