.successGreyBox {
  border-radius: 20px;
  background-color: #c8cdfa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  position: relative;
}

.successBlueBox {
  border-radius: 20px;
  background-color: #bae7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  position: relative;
}

.successOrangeBox {
  border-radius: 20px;
  background-color: #ffeeef;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  position: relative;
}

.successImgBox {
  height: 64px;
  display: flex;
  justify-content: center;
  height: 75px;
}

.successCountryTypo {
  font-size: 25px;
  font-weight: 600;
  color: #01313f;
  text-align: center;
  margin-bottom: 10px;
}

.successPrecentageTypo {
  font-size: 28px;
  font-weight: 600;
  color: #1097cd;
  text-align: center;
}

.FeaturedjobsCard {
  width: 100%;
  box-shadow: 4px 4px 10px rgba(3, 66, 117, 0.1) !important;
  border-radius: 10px;
  padding-top: 0;
  background-image: url("/similar-jobs-card-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 365px;
  transition: "box-shadow .3s";
}
.FeaturedjobsCard:hover {
  box-shadow: 10px 5px 11px rgba(33, 33, 33, 0.2) !important;
  cursor: pointer;
}

.featuredAvatar {
  object-fit: contain;
  border: 1px solid rgba(3, 66, 117, 0.15);
}

.featurediconImg {
  width: 14px;
  height: 14px;
  margin-top: 3px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 6px;
}

.featuredText {
  color: rgba(1, 49, 63, 0.8);
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  margin-left: 20px;
  width: 25%;
}

.featuredInputText {
  color: rgba(1, 49, 63, 0.8);
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  margin-left: 20px;
  width: 75%;
}

.featuredTypoBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  /* margin-bottom: 15px; */
}

.featuredTypo {
  text-align: right;
  font-style: italic;
  font-size: 14px;
  color: #c4c4c4;
}

@media only screen and (max-width: 600px) {
  .FeaturedjobsCard {
    width: 100%;
  }
}

.watchDemo {
  /* background: linear-gradient(98.12deg, #034275 -3.27%, #02a9f7 93.69%); */
  background-image: url("/NicheSectionBG.svg");
  color: white;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.clentStoriesbubble {
  position: absolute;
  top: -116px;
  left: 800px;
}

.WeAreProudbubble {
  position: absolute;
  top: -118px;
  left: 800px;
}

.identifyingcircle {
  position: absolute;
  top: -359px;
  left: 777px;
}

.GuaranteedHiringBubble {
  position: absolute;
  top: -184px;
  left: 1010px;
}

.DedicatedSectionbubblea {
  position: absolute;
  top: -151px;
  left: 891px;
}

.Levelupbubblea {
  position: absolute;
  top: 4235px;
  left: 855px;
}

.FeaturedJobsbubble {
  position: absolute;
  top: -450px;
  left: 611px;
}

.GuaranteedHiringBubbleb {
  position: absolute;
  top: -3px;
  left: 296px;
}

.recruiterCardImg {
  position: absolute;
  z-index: 2;
  top: -90px;
}

.candidateCardImg {
  position: absolute;
  z-index: 2;
  top: -90px;
}

@media only screen and (max-width: 600px) {
  .clentStoriesbubble {
    display: none;
  }
  .WeAreProudbubble {
    display: none;
  }
  .identifyingcircle {
    display: none;
  }
  .GuaranteedHiringBubble {
    display: none;
  }
  .DedicatedSectionbubblea {
    display: none;
  }
  .Levelupbubblea {
    display: none;
  }
  .FeaturedJobsbubble {
    display: none;
  }
  .GuaranteedHiringBubbleb {
    display: none;
  }
  .recruiterCardImg {
    height: 330px;
    width: auto;
  }
  .candidateCardImg {
    height: 330px;
    width: auto;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .clentStoriesbubble {
    top: -176px;
    left: 481px;
    height: 250px;
    width: 250px;
  }
  .WeAreProudbubble {
    top: -113px;
    left: 439px;
    height: 250px;
    width: 250px;
  }
  .identifyingcircle {
    top: -266px;
    left: 444px;
  }
  .GuaranteedHiringBubble {
    top: -172px;
    left: 447px;
  }
  .DedicatedSectionbubblea {
    top: -239px;
    left: 457px;
  }
  .Levelupbubblea {
    display: none;
  }
  .FeaturedJobsbubble {
    top: -239px;
    left: 407px;
  }
  .GuaranteedHiringBubbleb {
    display: none;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .clentStoriesbubble {
    top: -176px;
    left: 481px;
    height: 250px;
    width: 250px;
  }
  .WeAreProudbubble {
    top: -113px;
    left: 439px;
    height: 250px;
    width: 250px;
  }
  .identifyingcircle {
    top: -266px;
    left: 444px;
  }
  .GuaranteedHiringBubble {
    top: -172px;
    left: 447px;
  }
  .DedicatedSectionbubblea {
    top: -239px;
    left: 457px;
  }
  .Levelupbubblea {
    display: none;
  }
  .FeaturedJobsbubble {
    top: -239px;
    left: 407px;
  }
  .GuaranteedHiringBubbleb {
    display: none;
  }
  .recruiterCardImg {
    top: -131px;
  }
  .candidateCardImg {
    top: -120px;
  }
}

.areYouRecruiterBtn {
  align-items: center !important;
  appearance: none !important;
  background-clip: padding-box !important;
  background-color: initial !important;
  background-image: none !important;
  border-style: none !important;
  box-sizing: border-box !important;
  color: #fff !important;
  cursor: pointer !important;
  display: inline-block !important;
  flex-direction: row !important;
  flex-shrink: 0 !important;
  font-family: Eina01, sans-serif !important;
  font-size: 16px !important;
  font-weight: 800 !important;
  justify-content: center !important;
  line-height: 24px !important;
  margin: 0 !important;
  min-height: 64px !important;
  outline: none !important;
  overflow: visible !important;
  padding: 19px 26px !important;
  pointer-events: auto !important;
  position: relative !important;
  text-align: center !important;
  text-decoration: none !important;
  text-transform: none !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
  vertical-align: middle !important;
  width: auto !important;
  word-break: keep-all !important;
  z-index: 0 !important;
}

@media (min-width: 768px) {
  .areYouRecruiterBtn {
    padding: 19px 32px !important;
  }
}

.areYouRecruiterBtn:before,
.areYouRecruiterBtn:after {
  border-radius: 80px !important;
}

.areYouRecruiterBtn:before {
  background-color: rgba(249, 58, 19, 0.32) !important;
  color: #fff !important;
  content: "" !important;
  display: block !important;
  height: 100% !important;
  left: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  z-index: -2 !important;
}

.areYouRecruiterBtn:after {
  background-color: initial !important;
  background-image: linear-gradient(
    92.83deg,
    #007bff 0,
    #0056b3 100%
  ) !important;
  bottom: 4px !important;
  content: "" !important;
  display: block !important;
  left: 4px !important;
  overflow: hidden !important;
  position: absolute !important;
  right: 4px !important;
  top: 4px !important;
  transition: all 100ms ease-out !important;
  z-index: -1 !important;
}

.areYouRecruiterBtn:hover:not(:disabled):after {
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  transition-timing-function: ease-in !important;
}

.areYouRecruiterBtn:active:not(:disabled) {
  color: #ccc !important;
}

.areYouRecruiterBtn:active:not(:disabled):after {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #007bff 0, #0056b3 100%) !important;
  bottom: 4px !important;
  left: 4px !important;
  right: 4px !important;
  top: 4px !important;
}

.areYouRecruiterBtn:disabled {
  cursor: default !important;
   opacity: 0.24 !important;
}
