.header {
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 25px;
}

#info {
  font-size: 18px;
  text-align: center;
  margin-bottom: 25px;
}

.a {
  color: #074e8c;
}

.scrollbar {
  margin-left: 15px;
  float: left;
  height: 2000px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.force-overflow {
  min-height: 450px;
}

#wrapper {
  text-align: center;
  width: 500px;
  margin: auto;
}

/*
 *  STYLE 1
 */
