@tailwind base;
@tailwind components;
@tailwind utilities;
.categoryImage {
  height: 530px !important;

  width: auto;
}

@font-face {
  font-family: "Inter";
  src: url("./asset/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("./asset/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter-Thin";
  src: url("./asset/Inter-Thin.ttf");
}
